* {
  margin: 0;
  padding: 0;
}

@font-face {
  src: url("./assets/RobotoMono-VariableFont_wght.ttf");
  font-family: "RobotoMono";
}

@font-face {
  font-family: "Mynerve";
  src: url("./assets/Mynerve-Regular.ttf");
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #e5e7eb;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 10px;
}
